.title {
  width:100%; line-height:35px; text-align:center; margin-top:8px;
}

.showDate {
  width:100%; text-align:center; line-height:30px; color:#c5c5c5;
}

.guide {
  background:#f1f1f1; border-left:4px #d5d5d5 solid; width:94%; margin-left:3%; padding:8px; color: #a1a1a1;
}

.content {
  width:94%; margin-left:3%; padding: 8px; line-height:28px;
}

